# Data PreProcessing

In [65]:
dataset.isna().sum()

Car_ID               0
Brand                0
Model                0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [66]:
 dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Car_ID             100 non-null    int64
 1   Brand              100 non-null    object
 2   Model              100 non-null    object
 3   Year               100 non-null    int64
 4   Kilometers_Driven  100 non-null    int64
 5   Fuel_Type          100 non-null    object
 6   Transmission       100 non-null    object
 7   Owner_Type         100 non-null    object
 8   Mileage            100 non-null    int64
 9   Engine             100 non-null    int64
 10  Power              100 non-null    int64
 11  Seats              100 non-null    int64
 12  Price              100 non-null    int64
dtypes: int64(8), object(5)
memory usage: 10.3+ KB

In [67]:
def QuanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        print(columnName)
        if(dataset[columnName].dtypes=='O'):
            print("Qual")
            qual.append(columnName)
        else:
            print("Quan")
            quan.append(columnName)
    return quan,qual

In [68]:
quan,qual=QuanQual(dataset)

Car_ID
Quan
Brand
Qual
Model
Qual
Year
Quan
Kilometers_Driven
Quan
Fuel_Type
Qual
Transmission
Qual
Owner_Type
Qual
Mileage
Quan
Engine
Quan
Power
Quan
Seats
Quan
Price
Quan

In [69]:
quan

['Car_ID',
 'Year',
 'Kilometers_Driven',
 'Mileage',
 'Engine',
 'Power',
 'Seats',
 'Price']

In [70]:
qual

['Brand', 'Model', 'Fuel_Type', 'Transmission', 'Owner_Type']

In [71]:
#dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [72]:
#dataset

In [73]:
dataset.describe()

,Car_ID,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price
count,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000e+02
mean,50.500000,2018.39000,28150.000000,17.210000,1855.230000,158.130000,5.230000,1.574000e+06
std,29.011492,1.17116,9121.375716,3.309902,631.311475,76.968137,0.750151,1.000265e+06
min,1.000000,2016.00000,10000.000000,10.000000,999.000000,68.000000,4.000000,4.500000e+05
25%,25.750000,2017.75000,22000.000000,15.000000,1462.000000,103.000000,5.000000,7.000000e+05
50%,50.500000,2018.00000,27000.000000,17.000000,1774.000000,148.000000,5.000000,1.300000e+06
75%,75.250000,2019.00000,32000.000000,19.000000,2143.000000,187.000000,5.000000,2.500000e+06
max,100.000000,2021.00000,60000.000000,25.000000,4951.000000,396.000000,7.000000,4.000000e+06

In [74]:
import numpy as np
descriptive=pd.DataFrame(index=["Q1:25%","Q2:50%","Q3:75%","IQR","1.5Rule","Lesser",'Greater','min','max'],columns=quan)
for columnName in quan:
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["IQR"] = descriptive[columnName]["Q3:75%"] - descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5Rule"] = 1.5 * descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"] = descriptive[columnName]["Q1:25%"] - descriptive[columnName]["1.5Rule"]
    descriptive[columnName]["Greater"] = descriptive[columnName]["Q3:75%"] + descriptive[columnName]["1.5Rule"]
    descriptive[columnName]["min"] = dataset[columnName].min()  # Added calculation for min
    descriptive[columnName]["max"] = dataset[columnName].max()  # Added calculation for max
    #descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    #descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
    #descriptive[columnName]["min"] = dataset[columnName].min()  # Added calculation for min
    #descriptive[columnName]["max"] = dataset[columnName].max()  # Added calculation for max

In [75]:
descriptive

,Car_ID,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price
Q1:25%,25.75,2017.75,22000.0,15.0,1462.0,103.0,5.0,700000.0
Q2:50%,50.5,2018.0,27000.0,17.0,1774.0,148.0,5.0,1300000.0
Q3:75%,75.25,2019.0,32000.0,19.0,2143.0,187.0,5.0,2500000.0
IQR,49.5,1.25,10000.0,4.0,681.0,84.0,0.0,1800000.0
1.5Rule,74.25,1.875,15000.0,6.0,1021.5,126.0,0.0,2700000.0
Lesser,-48.5,2015.875,7000.0,9.0,440.5,-23.0,5.0,-2000000.0
Greater,149.5,2020.875,47000.0,25.0,3164.5,313.0,5.0,5200000.0
min,1,2016,10000,10,999,68,4,450000
max,100,2021,60000,25,4951,396,7,4000000

In [76]:
descriptive["Seats"]["min"]<descriptive["Seats"]["Lesser"]

True

In [77]:
Lesser=[]
Greater=[]
for columnName in quan:
    if(descriptive[columnName]["min"]<descriptive[columnName]["Lesser"]):
        Lesser.append(columnName)
    if(descriptive[columnName]["max"]<descriptive[columnName]["Greater"]):
        Greater.append(columnName)

In [78]:
Lesser

['Seats']

In [79]:
Greater

['Car_ID', 'Price']

In [80]:
for columnName in Lesser:
     dataset["Seats"][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16056\3381042728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Seats"][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]

In [81]:
for columnName in Greater:
     dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16056\3069300918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16056\3069300918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]